<div class="container-main container-fluid p-t-3 p-b-3">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Location
        <span class="pull-right header-offset-text">Better Days BBQ, 11469 Old Nashville Hwy, Smyrna, TN 371677
        </span></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <iframe id="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43447.03165520217!2d-86.54137402221033!3d35.9660477512136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88640c74ab9990c7%3A0xccdba45c7469ab58!2sBetter+Days+BBQ!5e0!3m2!1sen!2sus!4v1458938123555" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </div>



</div>
