<div class="container-fluid container-main p-t-3 p-b-3">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="menu-header">Menu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-6 col-md-4">
      <h2>Better Meats</h2>

    </div>
    <div class="col-sm-12 col-sm-6 col-md-4">
      <h2>Better Sides</h2>
    </div>
        <div class="col-sm-12 col-sm-6 col-md-4">
      <h2>Better Drinks</h2>
    </div>
  </div>

</div>









  <div class="row">
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pork-sammy.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pulled.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'ribs.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pulled.jpg', class: "img-responsive" %>
    </div>

  </div>

</div>