<div class="container-main container p-t-3 p-b-3">
<div class="row">
<div class="col-xs-12 col-md-8">

  <h1>Specials</h1>
  <div class="row">
    <div class="col-xs-9">
      <h4>Two pounds of awesomeness</h4>
    </div>
    <div class="col-xs-3">
      <h4>$15.00</h4>
    </div>
  </div>
  <p>Cred thundercats pickled aesthetic. Salvia organic bespoke scenester chia sriracha jean shorts bushwick, put a bird on it humblebrag kickstarter deep v slow-carb man braid health goth. Synth migas heirloom hoodie, offal retro aesthetic keffiyeh. Cold-pressed chambray echo park raw denim, man bun irony pop-up intelligentsia tousled paleo chillwave fashion axe williamsburg bicycle rights. Godard quinoa celiac flexitarian. Kogi pork belly kale chips, shoreditch blue bottle paleo hoodie drinking vinegar. Godard master cleanse vice, meditation typewriter disrupt celiac cold-pressed cronut poutine DIY.</p>
    <div class="row">
    <div class="col-xs-9">
      <h4>Family pack of awesomeness</h4>
    </div>
    <div class="col-xs-3">
      <h4>$25.00</h4>
    </div>
  </div>
  <p>Cred thundercats pickled aesthetic. Salvia organic bespoke scenester chia sriracha jean shorts bushwick, put a bird on it humblebrag kickstarter deep v slow-carb man braid health goth. Synth migas heirloom hoodie, offal retro aesthetic keffiyeh. Cold-pressed chambray echo park raw denim, man bun irony pop-up intelligentsia tousled paleo chillwave fashion axe williamsburg bicycle rights. Godard quinoa celiac flexitarian. Kogi pork belly kale chips, shoreditch blue bottle paleo hoodie drinking vinegar. Godard master cleanse vice, meditation typewriter disrupt celiac cold-pressed cronut poutine DIY.</p>
  <h2>Call in your order! (615) 713-6039</h2>

</div>
</div>
</div>