<div class="container-main container p-t-3 p-b-3">
<div class="row">
<div class="col-xs-12 col-md-8">

  <h1>To-Go Orders</h1>
  <p>We specialize in to-go orders, so feel free to call in an order ahead of time, if you know when you can pick it up.  We love to provide food for parties, events, and anything else with folks who like to eat BBQ.</p>
  <h2>Call in your order! (615) 713-6039</h2>

</div>
</div>
</div>