<div class="container-fluid bg-red footer">
  <div class="container">
    <div class="row p-t-1">

      <div class="col-md-4 col-lg-3 p-b-2">
        <%= image_tag 'bdbbq-logo-150.png', class: "img-responsive" %>
      </div>

      <div class="col-md-4 col-lg-3 p-b-1">
        <h4 class="text-white">Better Days BBQ<br>11469 Old Nashville Hwy<br>Smyrna, TN 37167</h4>
        <h4 class="text-white"><i class="fa fa-phone br-white p-r-1"></i> (615) 713-6039</h4>
      </div>

      <div class="col-md-4 col-lg-3 p-b-2">
        <h4 class="text-white"><i class="fa fa-calendar br-white p-r-1"></i> Tuesday - Saturday</h4>
        <h4 class="text-white"><i class="fa fa-clock-o br-white p-r-1"></i> 11 am - 6 pm</h4>
        <h4 class="text-white"><i class="fa fa-calendar br-white p-r-1"></i> Sunday &amp; Monday</h4>
        <h4 class="text-white"><i class="fa fa-clock-o br-white p-r-1"></i> Closed</h4>
      </div>

      <div class="col-md-6 col-lg-3 p-b-1">
        <h4 class="text-white"><a href="https://www.facebook.com/betterdaysbbq"><%= image_tag "FB-f-Logo__blue_29.png" %></a> Find us on Facebook! </h4>
      </div>

    </div>
  </div>
</div>
