<div id="main-nav">
  <nav class="navbar navbar-full navbar-fixed-top affix-top navbar-light" style="background-color: #D92329;" data-spy="affix" data-offset-top="170">
    <div class="container-fluid">
      <div class="row hidden-sm-down">
        <a class="nav-link center-block navbar-brand" href="/" id="bdbbq-logo"><%= image_tag 'bdbbq-logo-200.png', class: "image_responsive" %></a>

        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
          <li class="nav-item"><a class="nav-link" href="/">To-Go Orders</a></li>
          <li class="nav-item"><a class="nav-link" href="/">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Location</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- Nav for small screens -->
    <div class="container-fluid no-padding">
      <div class="hidden-md-up">
        <!-- Navbar Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar first"></span> <span class="icon-bar hide-bar"></span> <span class="icon-bar last"></span> </button>
          <a class="navbar-brand" href="index.html" id="bellafirenze-sm"></a> </div>
        <!-- /.Navbar Header -->
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="navbar_collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#specials">Specials</a></li>
            <li><a href="#chefs">Chefs</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#locations">Locations</a></li>
            <li><a href="#booktable">Book</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <!-- /.Navbar Collapse -->
      </div>
    </div>
    <!-- /.container-fluid -->
    <!-- /.Nav for small screens -->
  </nav>

</div>